.quiz-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.2s ease-in-out;
  transform: scale(1.2) translateY(-5%);
  overflow: hidden;
  pointer-events: none;
  z-index: 25;
}
.quiz-container.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.quiz {
  position: fixed;
  display: flex;
  width: 100%;
  height: 650px;
  max-width: 1200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  transition: 0.2s ease-in-out;
  font-family: "Montserrat", sans-serif;
  z-index: 11;
}
@media screen and (max-width: 866px) {
  .quiz {
    height: 100%;
  }
}
.quiz.hide {
  opacity: 0;
  pointer-events: none;
}
.quiz.success-page {
  max-width: 300px;
  height: 240px;
  padding: 55px;
}
@media screen and (max-width: 866px) {
  .quiz.success-page {
    padding: 35px;
  }
}
@media screen and (max-width: 649px) {
  .quiz.success-page {
    max-width: 280px;
    padding: 25px;
  }
}
.quiz__container {
  display: grid;
  width: 100%;
  height: 100%;
}
.quiz__container--promo {
  min-height: 100px;
  grid-template-columns: 58% 42%;
}
@media screen and (max-width: 866px) {
  .quiz__container--promo {
    grid-template-columns: 100%;
  }
}
.quiz__container--question {
  grid-template-columns: 80% 20%;
}
@media screen and (max-width: 866px) {
  .quiz__container--question {
    grid-template-columns: 1fr 250px;
  }
}
@media screen and (max-width: 649px) {
  .quiz__container--question {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}
.quiz__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000f5;
  z-index: 10;
}
.quiz__close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -25px;
  top: -25px;
  fill: #363636;
  color: #363636;
  cursor: pointer;
}
@media screen and (max-width: 1239px) {
  .quiz__close-btn {
    right: 3px;
    top: 3px;
  }
}
.quiz__close-btn::before, .quiz__close-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 2px;
  background: #363636;
  cursor: pointer;
  z-index: 1;
}
.quiz__close-btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.quiz__close-btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.quiz__left-promo {
  background: url("img/img.jpg") center/cover no-repeat;
}
@media screen and (max-width: 866px) {
  .quiz__left-promo {
    border-bottom: 1px solid #363636;
  }
}
.quiz__left-question {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 25px;
  overflow: hidden;
}
@media screen and (max-width: 649px) {
  .quiz__left-question {
    padding: 15px;
    padding-bottom: 25px;
  }
}
.quiz__left-question-box {
  position: absolute;
  width: calc(100% - 60px);
  transition: 0.4s ease-in-out;
  transform: translateX(5%);
}
@media screen and (max-width: 649px) {
  .quiz__left-question-box {
    width: calc(100% - 30px);
  }
}
.quiz__left-question-box.show {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}
.quiz__left-question-box.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-5%);
}
.quiz__left-question-page .checkbox .disclaimer {
  display: inline-flex;
}
.quiz__left-question-progress {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin-top: auto;
}
@media screen and (max-width: 649px) {
  .quiz__left-question-progress {
    padding-top: 10px;
  }
}
.quiz__left-question-progress::before {
  position: absolute;
  content: "";
  top: 0;
  left: -30px;
  width: calc(100% + 60px);
  height: 1px;
  background: #E6E6E6;
}
@media screen and (max-width: 866px) {
  .quiz__left-question-progress {
    flex-direction: column;
  }
}
.quiz__left-question-progress-info {
  position: relative;
  width: 100%;
  font-size: 14px;
}
@media screen and (max-width: 866px) {
  .quiz__left-question-progress-info {
    order: 1;
  }
}
.quiz__left-question-progress-info::after {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 0;
  width: calc(100% - 50px);
  height: 5px;
  background: #E6E6E6;
  border-radius: 5px;
}
@media screen and (max-width: 866px) {
  .quiz__left-question-progress-info::after {
    width: 100%;
    bottom: -20px;
    height: 10px;
  }
}
.quiz__left-question-progress-info .progress-bar {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 0;
  width: calc(0% - 220px);
  height: 5px;
  background-image: linear-gradient(90deg, #3db92c88, #3db92c);
  box-shadow: 0 2px 9px rgba(109, 109, 109, 0.39), inset 0 2px 9px rgba(109, 109, 109, 0.39);
  border-radius: 5px;
  z-index: 1;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 866px) {
  .quiz__left-question-progress-info .progress-bar {
    bottom: -20px;
    height: 10px;
  }
}
.quiz__left-question-progress-info .progress-bar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.18) 25%, transparent 0, transparent 50%, rgba(255, 255, 255, 0.18) 0, rgba(255, 255, 255, 0.18) 75%, transparent 0, transparent);
  z-index: 1;
  background-size: 20px 20px;
  -webkit-animation: move 1.5s linear infinite;
  animation: move 1.5s linear infinite;
  border-radius: 20px;
  overflow: hidden;
  -webkit-animation: progress_bar 1.5s linear infinite;
          animation: progress_bar 1.5s linear infinite;
}
.quiz__left-question-progress-info .progress-title {
  font-size: 12px;
  text-align: left;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
  height: 18px;
  position: relative;
  color: #999;
}
.quiz__left-question-progress-info .progress-precents {
  font-size: 14px;
  color: #3db92c;
  font-weight: 700;
  margin-left: 10px;
}
.quiz__left-question-buttons {
  display: flex;
  align-items: center;
  grid-gap: 0 20px;
  width: 28%;
}
@media screen and (max-width: 866px) {
  .quiz__left-question-buttons {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 649px) {
  .quiz__left-question-buttons {
    margin-bottom: 10px;
  }
}
.quiz__left-question-button-next {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 16px !important;
  background-color: #3db92c;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.quiz__left-question-button-next::after {
  content: "";
  height: 200%;
  left: -230%;
  opacity: 0;
  position: absolute;
  top: -20%;
  transform: rotate(-30deg);
  width: 200%;
  background: rgba(255, 255, 255, 0.13);
  -webkit-animation: shine 7s ease-in-out infinite;
          animation: shine 7s ease-in-out infinite;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.23) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.8) 92%, rgba(255, 255, 255, 0) 100%);
}
.quiz__left-question-button-next.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.quiz__left-question-button-next.disabled::after {
  -webkit-animation: none;
          animation: none;
}
.quiz__left-question-button-next svg {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  fill: #fff;
}
.quiz__left-question-button-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid #E6E6E6;
  transform: rotate(180deg);
  cursor: pointer;
}
.quiz__left-question-button-back.disabled {
  pointer-events: none;
}
.quiz__left-question-button-back.disabled svg {
  fill: #E6E6E6;
}
.quiz__left-question-button-back svg {
  width: 23px;
  height: 23px;
  fill: #999999;
  transition: 0.15s ease-in-out;
}
.quiz__left-question-text {
  font-size: 28px;
  color: #363636;
}
@media screen and (max-width: 649px) {
  .quiz__left-question-text {
    font-size: 20px;
  }
}
.quiz__left-question-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px 20px;
  width: 100%;
  margin-top: 20px;
}
@media screen and (max-width: 866px) {
  .quiz__left-question-form {
    grid-template-columns: 1fr;
  }
}
.quiz__left-question-form-field {
  position: relative;
  padding: 1rem 1rem;
  padding-left: 45px;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  color: #363636;
  font-weight: 400;
  cursor: pointer;
  transition: 0.15s ease-in;
}
@media screen and (max-width: 649px) {
  .quiz__left-question-form-field {
    padding: 0.65rem 0.5rem 0.65rem 45px;
  }
}
.quiz__left-question-form-field:hover {
  box-shadow: 1px 1px 7px #E6E6E6;
}
.quiz__left-question-form-field.checked {
  border: 1px solid #3db92c88;
}
.quiz__left-question-form-field input {
  display: none;
}
.quiz__left-question-form-field span {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  padding: 4px;
  border: 2px solid #E6E6E6;
  background: #E6E6E6;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #E6E6E6;
  transition: 0.1s ease-in;
}
.quiz__left-question-form-field input:checked + span {
  border-color: #fff;
  background: #3db92c;
  box-shadow: 0 0 0 2px #3db92c;
}
.quiz__left-question-form-field.checkbox span {
  border-radius: 2px;
}
.quiz__left-question-form-field.checkbox span::after, .quiz__left-question-form-field.checkbox span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 2px;
  transform: translate(-50%, -50%);
  background: #fff;
  transition: 0.1s ease;
}
.quiz__left-question-form-field.checkbox span:after {
  width: 0px;
  transform: translate(-50%, 50%) rotate(43deg);
  left: 20%;
  top: 60%;
}
.quiz__left-question-form-field.checkbox span:before {
  width: 0px;
  left: 63%;
  top: 57%;
  transform: translate(-50%, -50%) rotate(-50deg);
}
.quiz__left-question-form-field.checkbox input:checked + span {
  border-color: #fff;
  background: #3db92c;
  box-shadow: 0 0 0 2px #3db92c;
  border: 2px solid #3db92c;
}
.quiz__left-question-form-field.checkbox input:checked + span::before {
  width: 12px;
}
.quiz__left-question-form-field.checkbox input:checked + span::after {
  transition-delay: 0.05s;
  width: 5px;
}
.quiz__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 1rem 2rem;
  margin-top: -35px;
}
@media screen and (max-width: 866px) {
  .quiz__right {
    max-width: 450px;
    align-items: center;
    margin: 150px auto 0;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 649px) {
  .quiz__right {
    margin: 50px auto 0;
  }
}
.quiz__right-question {
  padding: 1rem 1.6rem 0 1.2rem;
  padding-bottom: 15px;
  background: #F7F7F7;
}
@media screen and (max-width: 649px) {
  .quiz__right-question {
    padding: 0.5rem 0.6rem 0;
  }
}
.quiz__right-title {
  position: relative;
  margin-bottom: 1rem;
  color: #363636;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
}
@media screen and (max-width: 866px) {
  .quiz__right-title {
    text-align: center;
  }
}
@media screen and (max-width: 649px) {
  .quiz__right-title {
    font-size: 22px;
  }
}
.quiz__right-title::before {
  position: absolute;
  content: "";
  top: -20px;
  left: 0;
  width: 38px;
  height: 3px;
  background: #363636;
}
@media screen and (max-width: 866px) {
  .quiz__right-title::before {
    left: 50%;
    transform: translateX(-50%);
  }
}
.quiz__right-btn-start {
  min-height: 55px;
  padding: 10px 30px 12px;
  margin-top: 1rem;
  border-radius: 40px;
  font-size: 18px !important;
  background-color: #3db92c;
  color: #fff;
  border: none;
  cursor: pointer;
}
.quiz__right-btn-start svg {
  width: 20px;
  height: 20px;
  transform: translateY(3px);
  fill: #fff;
}
.quiz__right-discount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  padding: 0 15px;
  margin-bottom: 15px;
  background: #FFDD6F;
  border: 1px solid #FDCD32;
  color: #555;
  border-radius: 5px;
  font-weight: 700;
  font-size: 13px;
}
@media screen and (max-width: 649px) {
  .quiz__right-discount {
    height: 33px;
    margin-bottom: 3px;
  }
}
.quiz__right-discount-total {
  position: relative;
}

.quiz-form {
  margin: 0 auto;
  margin-top: 1.7rem;
}
@media screen and (max-width: 649px) {
  .quiz-form {
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.quiz-form__title {
  max-width: 630px;
  color: #363636;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}
@media screen and (max-width: 649px) {
  .quiz-form__title {
    max-width: 300px;
    margin: 0px auto 10px;
    font-size: 22px;
  }
}
.quiz-form__form {
  display: grid;
  grid-gap: 20px 0px;
  position: relative;
  padding: 29px 35px 19px;
  border-radius: 3px;
  box-shadow: 0 9px 40px 0 #cececee7;
  border: solid 1.2px #fdfdfd;
  background-color: #fdfdfd;
  max-width: 500px;
  width: 100%;
  margin: 55px auto 0;
}
@media screen and (max-width: 649px) {
  .quiz-form__form {
    margin: 25px auto 0;
    padding: 20px 20px 30px;
    width: auto;
  }
}
.quiz-form__field .error-span {
  display: none;
  font-size: 12px;
  color: #ff0000;
}
.quiz-form__field.error .error-span {
  display: block;
}
.quiz-form__field.error label {
  border-color: #f00;
}
.quiz-form__field-text {
  text-transform: uppercase;
  font-size: 12px;
}
.quiz-form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 15px 20px;
  border: 1px solid #B3B3B3;
  border-radius: 5px;
}
.quiz-form__label input {
  border: none;
  outline: none;
  font-size: 16px;
  margin-left: 35px;
  color: #363636;
}
.quiz-form__label svg {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  fill: #B3B3B3;
  color: #B3B3B3;
}
.quiz-form__submit {
  width: 100%;
  min-height: 55px;
  padding: 10px 30px 12px;
  border-radius: 40px;
  font-size: 18px !important;
  background-color: #3db92c;
  color: #fff;
  border: none;
  cursor: pointer;
}
.quiz-form__submit.disabled {
  background-color: #363636;
  pointer-events: none;
}
.quiz-form__submit.disabled:after {
  -webkit-animation: none !important;
          animation: none !important;
}
.quiz-form__submit svg {
  width: 20px;
  height: 20px;
  transform: translateY(3px);
  fill: #fff;
}
.quiz-form__discount {
  position: absolute;
  display: flex;
  right: 45px;
  top: -10px;
  background: #FAF1D6;
  border: 1px solid #F7CD47;
  border-radius: 5px;
  font-size: 10px;
}
.quiz-form__discount-text {
  display: block;
  padding: 4px 6px;
}
.quiz-form__discount-precents {
  position: relative;
  display: block;
  padding: 4px 15px;
  padding-left: 5px;
  background: #F7CD47;
  font-weight: 600;
}
.quiz-form__discount-precents::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #c39c23;
  z-index: 2;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.quiz-form__discount-precents::after {
  content: "";
  position: absolute;
  background-color: #f7cd47;
  border-radius: 5px;
  width: 17px;
  height: 17px;
  right: -6px;
  transform: rotate(45deg);
  z-index: 1;
  top: 2px;
}
.quiz-form__form-private-policy {
  display: flex;
  position: relative;
  font-size: 12px;
}
.quiz-form__form-private-policy .text {
  display: flex;
}
.quiz-form__form-private-policy a {
  color: #3db92c;
  padding: 0 5px;
}
.quiz-form__form-private-policy .label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 10px auto 0;
}
.quiz-form__form-private-policy input {
  display: none;
}
.quiz-form__form-private-policy .custom-checkbox {
  position: relative;
  width: 3px;
  height: 3px;
  padding: 4px;
  margin: auto;
  border: 2px solid #E6E6E6;
  background: #E6E6E6;
  box-shadow: 0 0 0 2px #E6E6E6;
  transition: 0.1s ease-in;
  border-radius: 2px;
  cursor: pointer;
}
.quiz-form__form-private-policy .custom-checkbox::after, .quiz-form__form-private-policy .custom-checkbox::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 2px;
  transform: translate(-50%, -50%);
  background: #fff;
  transition: 0.1s ease;
}
.quiz-form__form-private-policy .custom-checkbox:after {
  width: 0px;
  transform: translate(-50%, 50%) rotate(43deg);
  left: 20%;
  top: 60%;
}
.quiz-form__form-private-policy .custom-checkbox:before {
  width: 0px;
  left: 63%;
  top: 57%;
  transform: translate(-50%, -50%) rotate(-50deg);
}
.quiz-form__form-private-policy input:checked + .custom-checkbox {
  border-color: #fff;
  background: #3db92c;
  box-shadow: 0 0 0 2px #3db92c;
  border: 2px solid #3db92c;
}
.quiz-form__form-private-policy input:checked + .custom-checkbox::before {
  width: 12px;
}
.quiz-form__form-private-policy input:checked + .custom-checkbox::after {
  transition-delay: 0.05s;
  width: 5px;
}

.success {
  position: relative;
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.success .quiz__right-discount {
  margin-top: 15px;
  padding: 5px 15px !important;
}

.disclaimer {
  display: inline-flex;
  align-items: center;
  margin-top: 15px;
  padding: 5px 10px;
  background: #D8F1D5;
  border: solid 1px #3db92c;
  color: #363636;
  border-radius: 5px;
  font-size: 10px;
}
.disclaimer svg {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  fill: #3db92c;
  border-radius: 50%;
}

.discount-arrow {
  position: absolute;
  right: -10px;
  top: -12px;
  animation: discount-arrow 0.4s ease-in-out alternate-reverse infinite;
}

@-webkit-keyframes discount-arrow {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes discount-arrow {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
.shine {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.shine:after {
  content: "";
  height: 200%;
  left: -230%;
  opacity: 0;
  position: absolute;
  top: -20%;
  transform: rotate(-30deg);
  width: 200%;
  background: rgba(255, 255, 255, 0.23);
  -webkit-animation: shine 7s ease-in-out infinite;
          animation: shine 7s ease-in-out infinite;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0.23) 77%, rgba(255, 255, 255, 0.13) 92%, rgba(255, 255, 255, 0) 100%);
}

.big-shine:after {
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.53) 77%, rgba(255, 255, 255, 0.43) 92%, rgba(255, 255, 255, 0) 100%);
  -webkit-animation: big-shine 7s ease-in-out infinite;
          animation: big-shine 7s ease-in-out infinite;
}

@-webkit-keyframes shine {
  0% {
    left: -230%;
  }
  15% {
    left: -50%;
    opacity: 1;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
  25% {
    left: -50%;
    opacity: 0;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
  100% {
    left: -50%;
    opacity: 0;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
}

@keyframes shine {
  0% {
    left: -230%;
  }
  15% {
    left: -50%;
    opacity: 1;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
  25% {
    left: -50%;
    opacity: 0;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
  100% {
    left: -50%;
    opacity: 0;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
}
@-webkit-keyframes big-shine {
  0% {
    left: -130%;
  }
  15% {
    left: 100%;
    opacity: 1;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
  25% {
    left: 100%;
    opacity: 0;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
  100% {
    left: -50%;
    opacity: 0;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
}
@keyframes big-shine {
  0% {
    left: -130%;
  }
  15% {
    left: 100%;
    opacity: 1;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
  25% {
    left: 100%;
    opacity: 0;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
  100% {
    left: -50%;
    opacity: 0;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
}
@-webkit-keyframes progress_bar {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 20px;
  }
}
@keyframes progress_bar {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 20px;
  }
}/*# sourceMappingURL=quiz.css.map */